#canvas_area {
  position:static;
  top: 10%;
  left: 10%;
  border: 2px solid;
}

#choose_color_text {
  position: static;
  top: 12%;
  left: 43%;
}

#save_target {
  position: static;
  top: 10%;
  left: 52%;
  display: none;
}

#save-image-btn {
  position: static;
  top: 55%;
  left: 10%;
}

#eraser_text {
  position: static;
  top: 20%;
  left: 43%;
}

#clr {
  position: static;
  top: 55%;
  left: 15%;
}

#white {
  position: static;
  top: 22%;
  left: 45%;
  width: 15px;
  height: 15px;
  background: white;
  border: 2px solid;
}

#green {
  position: static;
  top: 15%;
  left: 45%;
  width: 10px;
  height: 10px;
  background: green;
}

#blue {
  position: static;
  top: 15%;
  left: 46%;
  width: 10px;
  height: 10px;
  background: blue;
}

#red {
  position: static;
  top: 15%;
  left: 47%;
  width: 10px;
  height: 10px;
  background: red;
}

#yellow {
  position: static;
  top: 17%;
  left: 45%;
  width: 10px;
  height: 10px;
  background: yellow;
}

#orange {
  position: static;
  top: 17%;
  left: 46%;
  width: 10px;
  height: 10px;
  background: orange;
}

#black {
  position: static;
  top: 17%;
  left: 47%;
  width: 10px;
  height: 10px;
  background: black;
}
